<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">ktully</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <!-- removed from li element: *ngIf="showAdminBoard" -->
      <li class="nav-item">
        <a href="/admin" class="nav-link" [ngStyle]="{'color': showAdminBoard? 'chartreuse' : 'pink'}" routerLink="admin">Admin Board</a>
      </li>
      <!-- removed from li element: *ngIf="showModeratorBoard" -->
      <li class="nav-item">
        <a href="/mod" class="nav-link" [ngStyle]="{'color': showModeratorBoard? 'chartreuse' : 'pink'}" routerLink="mod">Moderator Board</a>
      </li>
      <!-- removed from a element: *ngIf="isLoggedIn" -->
      <li class="nav-item">
        <a href="/user" class="nav-link" [ngStyle]="{'color': isLoggedIn? 'chartreuse' : 'pink'}" routerLink="user">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="getTestPublicContent()">/api/test/all</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="getAuthPublicContent()">/api/auth/all</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{
          username
        }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <div *ngIf="!isLoggedIn">
      <app-auto-register></app-auto-register>
      <app-auto-login></app-auto-login>
    </div>
    <router-outlet></router-outlet>
    
    <!-- Anchor and Fragment Tests Begin -->
    <!-- Moved to home.component.html
    <div class="links">
      <h2>Fragment Options</h2>
      <ul>
        <li *ngFor="let link of modes">
          <a [routerLink]='"."' [fragment]="link">{{link}}</a>
        </li>
      </ul>
    </div>
    <section>
      <div class="section" *ngFor="let link of modes" [attr.id]='link' >
        <h1>{{link}}</h1>
        <div class="content">
          Here is the {{link}} section.
        </div>
      </div>
    </section>
    -->
    <!-- Anchor and Fragment Tests End -->
  </div>
</div>
